body {
	background-image:url(img/village-des-schtroumpfs.jpg);
	margin: 0;
	padding: 0;
	-webkit-background-size: cover;
	}

	.id {
		background-size: 100px 100px;
		height: 100px;
		width: 100px;
	}